main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

main > * {
  margin: 1rem 0;
}

.item-edit-line {
  display: flex;
  margin-bottom: 15px;
}

.item-edit-line > * {
  margin-right: 15px;
}
