main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

main > * {
  margin: 1rem 0;
}

.block-container {
  margin: 1rem 2rem;
}

.block-item-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.block-item-container > * {
  margin-right: 1rem;
}

.top-btn-container {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

.top-btn-container > * {
  margin-left: 1rem;
}

.block-heading-container {
  display: flex;
  align-items: center;
}

.block-heading-container > * {
  margin-right: 1rem;
}

.add-new-block-container > * {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
